<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="BasicAuth">
  <meta name="author" content="siddub">
  <title>Canine Center</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <style>
    body {
      width: 100%;
      height: 100%;
      background: #fafafa;
      background-image: url('/bg.png');
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .text1 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4"
    style="color: white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
    <img src="/logo.png" style="width: 60px;height: 50px;background-color: white;" />
    <a class="navbar-brand mx-2" href="/" style="color: white;">Canine Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      style="color: white;" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/myappointments">My Appointments <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/foster-dogs">Foster Dogs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dog-breeds">Dog Breeds<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="dropdown mx-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Foster Dogs
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" type="button" href="/foster-dogs/add">Add a Foster Dog</a>
            <a class="dropdown-item" type="button" href="/foster-dogs/added-dogs">My added dogs</a>
            <a class="dropdown-item" type="button" href="/foster-dogs">View All Dogs</a>
          </div>
        </div>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
      </form>
    </div>
  </nav>

  <div class="container card" style="background: white; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);background-color: #f9f9f9;
  transition: 0.3s;">

    <h2 class="form-heading underline mt-4 text-center">Book an appointment</h2>
    <p class="text-center">
      <img src="/all_dogs.jpg" class="img-fluid" />
    </p>
    <div class="text-center">
      <div class="container text-left px-4">
        <form class="login-form mb-4" method="POST" action="users/bookappointment">
          <div class="row justify-content-center">
            <div class="mt-4 col-md-4 col-sm-8">
              <label for="name" class="font-weight-bold">Name</label>
              <input name="name" type="text" class="form-control bg-light " placeholder="Name" autofocus="true"
                required />
              <small class="text-muted">Enter your Name for you appointment</small>
            </div>
            <div class="mt-4 col-md-4 col-sm-8">
              <label for="email" class="font-weight-bold">Email</label>
              <input name="email" type="text" class="form-control bg-light " placeholder="Email" required />
              <small>Enter your Email for you appointment</small>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="mt-4 col-md-4 col-sm-8">
              <label for="date" class="font-weight-bold">Appointment Date</label>
              <input name="date" type="date" class="form-control bg-light " placeholder="Date and Time" required />
            </div>
            <div class="mt-4 col-md-4 col-sm-8">
              <label for="phone" class="font-weight-bold">Phone</label>
              <input name="phone" type="number" class="form-control bg-light " placeholder="Phone number" required />
              <small class="text-muted">Enter your mobile which you like to contact.</small>

            </div>
          </div>
          <div class="row justify-content-center">
            <div class="mt-4 col-8">
              <label for="name" class="font-weight-bold">Description</label>
              <textarea name="description" class="form-control bg-light " rows="5"
                placeholder="Enter Description ..."></textarea>
              <small class="text-muted">Describe your pet's issue in deatils.</small>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="mt-4 col-8">
              <button class="btn btn-primary btn-block mt-4 mb-4" type="submit">Book</button>
            </div>
          </div>
        </form>

        <div class="mt-4">
          <h1>Available Services</h1>
          <div class="row">
            <% for(var i=0; i<services.length; i++) {%>
            <div class="card m-4 col-3 p-0" style="box-shadow: 5px 8px 17px 4px rgba(213, 215, 222, 0.6);">
              <div class="card-img-top" style="height: 180px;">
                <img src="/<%= services[i].images[0].path %>" alt="..." style="max-width: 100%;height: 100%;">
              </div>
              <div class="card-body">
                <h5 class="card-title"> <%= services[i].title %></h5>
                <p class="card-text text1"><%= services[i].description %> </p>
                <div class="row justify-content-end mr-2">
                  <a href="/dog-services/view/<%= services[i]._id %>" class="btn btn-primary align-right">More Info</a>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>